BREVO_API_KEY=*****
BREVO_SENDER_EMAIL=*****
BREVO_SENDER_NAME=*****

PROSPEO_API_KEY=*****
OCEAN_API_KEY=*****
NODE_ENV=development

SEED_DOMAIN="stripe.com"

TEST_RECIPIENT=a*****

BREVO_SMTP_KEY=*****

DEMO_MODE=true